{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
    <script src="//code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
    <div id="mom">
        <div class="popup-content2" id="popup-content2">
            <div class="popup-center2">
                
            <div class="popup-form2" id="popup-form2">
                    <div class="close2" id="close-popup2">
                        <div class="close-btn2">&times;</div>
                    </div>
                    <h2 class="login-logo2" style="font-family: 'IBM Plex Sans KR', sans-serif; font-size: 40pt; text-align: center;">Hallym<br>University</h2>
                    <form>
                        
                        
                        <div class="form-group2">
                            <input id="loginid" class="form-group-input2" type="text"placeholder="아이디" required>
                            
                        </div>
                        <div class="form-group2">
                            
                            <input id="loginpw" class="form-group-input2" type="password" placeholder="비밀번호" required>
                        </div>
                        <button id="sign-submit2" type="submit" onclick="signin()">로그인하기</button>
                    </form>
            </div>
            </div>
        </div>
        <div class="top">
            <div class="left"></div>
            <div class="top-center-mid">
                <div class="user-container-box2">
                    <div class="user-container-box">
                        <div class="top-center">
                            
                                <div class="top-center-2">
                                    <div class="user-icon">
                                        <ul>
                                            
                                            
                                            <li><a id="sign-btn" class="sign-btn" >
                                                <i class="fa-solid fa-user"></i>
                                                
                                            </a>
                                                
                                            
                                                <ul>
                                                    {% if not request.session.user_id %}
                                                    
                                                    <li><div class="signin" onclick="login_popup()">
                                                        로그인
                                                    </div></li>
                                                    <li>
                                                        <div class="signup" onclick="signup()">
                                                        회원가입
                                                        </div>
                                                    </li>
                                                    {% else %}
                                                    <li><div class="signin" onclick="logout()">
                                                        로그아웃
                                                    </div></li>
                                                    <li>
                                                        <div class="signup" onclick="myinfo()">
                                                        내정보
                                                        </div>
                                                    </li>

                                                    {% endif %}

                                                </ul>
                                            </li>
                                            {% if request.session.user_id %}
                                            <li>
                                                <a id="sign-btn" class="sign-btn" href="/logout">
                                                    <i class="fa-solid fa-right-from-bracket"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a id="sign-btn" class="sign-btn" href="/write">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                            </li>
                                            
                                            {% endif %}
                                        </ul>
                                    </div>
                                    
                                    
                                </div>
                                <div class="top-center-mid-2">

                                
                                <div class="top-center-left">
                                    
                                    <div id="cate-menu">
                                        <ul>
                                            <li><a class="cate-btn" href="#">
                                                <i class="fa-solid fa-bars"></i>
                                                
                                            </a>
                                            
                                                <ul>
                                                    <li >
                                                        <div class="signin" onclick="login_popup()">
                                                            카테고리1
                                                        </div>
                                                    </li>
                                                    <li >
                                                        <div class="signin" onclick="login_popup()">
                                                            카테고리2
                                                        </div>
                                                    </li>
                                                    <li >
                                                        <div class="signin" onclick="login_popup()">
                                                            카테고리3
                                                        </div>
                                                    </li>
                                                    <li >
                                                        <div class="signin" onclick="login_popup()">
                                                            카테고리4
                                                        </div>
                                                    </li>
                                                    <li >
                                                        <div class="signin" onclick="login_popup()">
                                                            카테고리5
                                                        </div>
                                                    </li>
                                                    </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="category-txt">카테고리</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <i>Hallym Univ Market</i>
                    

                </div>
                <div class="search-menu-box">
                    <div class="search-menu-space"></div>
                    <div class="search-menu">
                        <div class="category-box">
                            <div class="selectBox2 ">
                                <button class="label" id="cate-option">글 제목</button>
                                <ul class="optionList">
                                <li class="optionItem">글 제목</li>
                                <li class="optionItem">시세 검색</li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-box">
                            
                            <input type="text" id='search_text_content' class="search-txt" name="" placeholder="Search">
                            <a class="search-btn" >
                                <i class="fas fa-search" onclick="search()"></i>
                            </a>
                        </div>
                    </div>
                    <div class="search-menu-space"></div>
                </div>
            </div>
            
            <div class="right"></div>
        </div>
        <div class="content">
            <div class="left"></div>
            <div class="center">
                
                <div class="center-bottom">
                    <div class="center-bottom-top-box">
                        <div class="center-bottom-title">
                            한림마켓 이용하기
                        </div>
                        <div class="all-view" onclick="location.href='/search/전체보기'">
                            더보기
                        </div>
                    </div>
                    
                    <div class="product-list">
                        {% for post in posts %}
                        <li class="product" onclick="location.href='/post/{{ post.id }}'">
                            <div class="product-image-box">
                                <img class="product-image" src="{{ post.post_img.url }}" alt="이미지 설명">
                            </div>
                            <div class="product-caption">
                                {{ post.title }} / {{ post.price }} 원
                            </div>
                            <div class="product-caption-details">
                                {{ post.user_nickname }} / 조회수 {{ post.visited }} / 추천수 {{post.vote }}
                            </div>
                        </li>
                        {% endfor %}
                        
                    </div>

                </div>
            </div>
            <div class="right"></div>
        </div>
        <div class="bottom">

        </div>
    </div>
</body>
<script>
    /* 화살표 함수 */
    const label = document.querySelector('.label');
    const options = document.querySelectorAll('.optionItem');

    // 클릭한 옵션의 텍스트를 라벨 안에 넣음
    const handleSelect = (item) => {
    label.parentNode.classList.remove('active');
    label.innerHTML = item.textContent;
    }
    // 옵션 클릭시 클릭한 옵션을 넘김
    options.forEach(option => {
        option.addEventListener('click', () => handleSelect(option))
    })

    // 라벨을 클릭시 옵션 목록이 열림/닫힘
    label.addEventListener('click', () => {
    if(label.parentNode.classList.contains('active')) {
        label.parentNode.classList.remove('active');
    } else {
        label.parentNode.classList.add('active');
    }
    })
    
    function login_popup(event){
        document.getElementById("popup-content2").style.display = "block";
        document.getElementById("popup-content2").style.background="rgba(0, 0, 0, 0.279)";
        console.log("gd");
    };

    // 닫기 버튼 또는 모달 외부 클릭 시 팝업 숨기기
    document.getElementById("close-popup2").addEventListener("click", function() {
        document.getElementById("popup-content2").style.display = "none";
        document.getElementById("mom").style.background="rgba(255, 255, 255)";
    });

    window.onclick = function(event) {
        if (event.target == document.getElementById("login-popup2")) {
            document.getElementById("login-popup2").style.display = "none";
        }
    }
    function signup() {
        location.href="/signup";
    }
    function logout() {
        location.href="/logout";
    }
    function myinfo() {
        location.href="/mypage";
    }

    function signin() {
        var newForm = document.createElement('form');
	// set attribute (form) 
        newForm.name = 'newForm';
        newForm.method = 'post';
        newForm.action = '/';
        newForm.target = '_blank';

        // create element (input)
        var input1 = document.createElement('input');
        var input2 = document.createElement('input');
        
        // set attribute (input)
        input1.setAttribute("type", "hidden");
        input1.setAttribute("name", "loginId");
        input1.setAttribute("value", document.getElementById("loginid").value);
        input2.setAttribute("type", "hidden");
        input2.setAttribute("name", "loginPW");
        input2.setAttribute("value", document.getElementById("loginpw").value);
        newForm.appendChild(input1);
	    newForm.appendChild(input2);
	    document.body.appendChild(newForm);
	    newForm.submit();
    }
    var content = "{{ error }}";
    if(content){
        alert(content)
    }

    function search(){
        var search_str=document.getElementById('search_text_content').value;
        var cate_option = document.getElementById('cate-option').innerText;
        console.log(cate_option)
        if(cate_option=='글 제목'){
            
            location.href="/search/"+search_str;
        }else{
            location.href="/cost/"+search_str;
        }
    }
</script>
</html>